* {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

header, .project-header {
    background-color: #3d3d3d;
    padding: 25px;
    color: white;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.blue {
    color: #70b3ff;
}

main {
    margin: auto;
    max-width: 1200px;
    padding: 50px;
}

.project-header {
    padding: 20px;
}

h3, p {
    font-weight: 400;
}

.wrapper {
    position: relative;
    margin-top: 20px;
    background-color: #70b3ff;
    max-width: 500px;
    transition: 0.2s;
}

.wrapper:hover {
    background-color: #a4cfff;
}

.project {
    padding-bottom: 60%;
}

.project h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
