
/* Padding */

.pad-top {
    padding-top: 20px;
}

.pad-bot {
    padding-bottom: 20px;
}

.pad-left {
    padding-left: 20px;
}

.pad-right {
    padding-right: 20px;
}


/* Misc */

.rounded {
    border-radius: 10px;
}

.blue {
    color: #70b3ff;
}

.show-on-hover {
    opacity: 0%;
    transition: 0.2s;
}

.show-on-hover:hover {
    opacity: 100%;
}

.video-portrait {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
