
.widget-bg-nova-bomb {
    background-image: url("../../resources/mc_nova_bomb.png");
}

.widget-bg-particles {
    background-image: url("../../resources/particles_orbit.png");
}

.widget-bg-ship-quest {
    background-image: url("../../resources/mini_fsc.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 360%;
}

.widget-bg-pdf-merger {
    background-image: url("../../resources/pdf_merger_demo_source.png");
}

.widget-bg-class-scheduler {
    background-image: url("../../resources/class_scheduler_demo_start.png");
}
